<mat-toolbar color="primary">
  <button mat-icon-button class="icon" color="accent" aria-label="Example icon-button with menu icon">
    <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="Mes groupes" routerLinkActive="active">Mes groupes</button>
    <button mat-menu-item routerLink="Créer un groupe" routerLinkActive="active">Créer un groupe</button>
    <button mat-menu-item routerLink="Rejoindre un groupe" routerLinkActive="active">Rejoindre un groupe</button>
  </mat-menu>


  
  <button mat-button routerLink="Acceuil" routerLinkActive="active" color="accent">Le Noel des potes</button>

  <span class="example-spacer"></span>

  <button mat-button class="onRight" *ngIf="!isAuth" routerLink="Se connecter" routerLinkActive="active" color="accent">Se
    Connecter</button>
  <button mat-button class="onRight" *ngIf="!isAuth" routerLink="Inscription"
    routerLinkActive="active" color="accent">S'inscrire</button>
  <button mat-button class="onRight" *ngIf="isAuth" (click)="onSignOut()" color="accent">Se déconnecter</button>


</mat-toolbar>