.err404{
    position:absolute;
    max-width: 30%;
    max-height: 30%;
    left:0;
    right:0;
    bottom:10%;
    margin:auto;
}

.texte{
    color: #4c7d4f;
    text-align: center;
    font-weight: 0.1em;
}