<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="usersList">code du groupe à rejoindre</label>
      <input type="text" id="usersList" class="form-control" formControlName="usersList">
    </div>
  
  
    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Rejoindre</button>
  </form>
  
  <div *ngIf="listedespotes != null">
    <div *ngIf="listedespotes.length !=0 ">
      <p>Qui etes vous ?</p>
      <div *ngFor="let duo of listedespotes">
        <button mat-button (click)="validate(duo)">{{duo[0]}}</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="listedespotes == null">
    <p>Le code que vous avez fournit est invalide</p>
  </div>