#boule1{
    position: absolute;
    top: 7,5%;
    left: 2%;
    max-width: 30%;
    max-height: 30%;
    height: auto;
}
#boule2{
    position: absolute;
    bottom: 3%;
    left: 8%;
    max-width: 40%;
    max-height: 40%;
    height: auto;
}

#boule3{
    position: absolute;
    top: 10%;
    right:  8%;
    z-index: 0;
    height: auto;
    max-width: 40%;
    max-height: 40%;
}

#sapin1{
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: -1;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    
}
#sapin2{
    position: absolute;
    z-index: -2;
    bottom: 0%;
    left: 0%;
    height: auto;
    max-width: 40%;
    max-height: 40%;
}

#sapin3{
    position: absolute;
    bottom: 0;
    right:  10%;
    z-index: -2;
    height: auto;
    max-width: 40%;
    max-height: 40%;
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

#id1 {
    position:relative;
    height: 90%;
    width:100%;
    z-index: -5;
}

#id2 {
    position:absolute;
    max-width: 50%;
    max-height: 50%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index: -8;

}