<img id="boule1" src="../../assets/home-page/boulecreerungroupe.png"  routerLink="/Créer un groupe"
    routerLinkActive="active">
<img id="sapin3" src="../../assets/home-page/fleuille3.png">

<div class="container3">
    <img id="boule3" src="../../assets/home-page/boulerejoindre.png"
        routerLink="/Rejoindre un groupe" routerLinkActive="active">
    <img id="sapin1" src="../../assets/home-page/feuille1.png" >

</div>

<div class="container1">
    <img id="boule2" src="../../assets/home-page/boulemesgroupes.png" routerLink="/Mes groupes"
        routerLinkActive="active">
    <img id="sapin2" src="../../assets/home-page/fleuille2.png" >

</div>

<div id="id1"><img id="id2" src="../../assets/home-page/titre.png"></div>