<div class="all">
  <h2 id="connect">Se connecter</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div id="labelEmail">
    <label for="email">Adresse mail</label>
    <input type="text"
           id="email"
           class="form-control"
           formControlName="email">
  </div>
  <div id="labelPassword" >
    <label for="password">Mot de passe</label>
    <input type="password"
           id="password"
           class="form-control"
           formControlName="password">
  </div>
  <br>
  <button id="boutonValider" mat-raised-button color="primary"
          type="submit"
          [disabled]="signupForm.invalid">Me connecter</button>
</form>
<p style="text-align: center;">{{ errorMessage }}</p>
<button mat-raised-button color="primary" id="boutonValider" routerLink="/PassReset" routerLinkActive="activated">Mot de passe oublié?</button>
</div>
